$animal_color: rgb(243, 203, 58)
$resource_color: rgb(233, 67, 130)
$player_color: rgb(69, 232, 142)
$idle_color: rgb(217, 155, 227)
$item_color: rgb(243, 101, 101)
$tile_color: #2d5e51
$follow_id_color: lighten($player-color, 20)

*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: #fffee9
    color: beige
    font-family: Arial, Helvetica, sans-serif

main
    width: 100%
    height: 100vh

.render-stats
    position: absolute
    bottom: 0
    left: 0
    padding: 1rem
    color: #262626
    display: flex
    gap: 1rem

.game
    display: block
    width: 100%
    height: 100%

    .nav-slice
        fill-opacity: 0

        &:hover
            fill-opacity: 0.1

    .coordinates
        fill: none
        text-anchor: middle
        stroke-width: 0
        pointer-events: none

    .player-target
        fill: none
        stroke: #262626
        stroke-width: 2
    .particle
        pointer-events: none
        &.move-center .body
            fill: $resource_color
            stroke: lighten($resource_color, 50)
        &.move-to .body
            fill: $player_color
            stroke: lighten($player_color, 50)
        &.follow-move-to .body
            fill: rgb(137, 238, 223)
            stroke: lighten(rgb(137, 238, 223), 50)
        &.move-closest .body
            fill: $item_color
            stroke: lighten($item_color, 50)
        &.idle .body
            fill: $idle_color
            stroke: lighten($idle_color, 50)
        &.avoid .body
            fill: rgb(90, 100, 152)
            stroke: lighten(rgb(90, 100, 152), 50)
        &.follow-id .body
            fill: $follow_id_color
            stroke: lighten($follow_id_color, 50)
        &.meander .body
            fill: rgb(232, 231, 157)
            stroke: lighten(rgb(232, 231, 157), 50)

        &.fixed
            stroke-opacity: 0
        &.static
            stroke-dasharray: 1,5
            stroke-linecap: round

        .body
            stroke-width: 1.5

        .velocity
            stroke: lighten($player_color, 15)
            stroke-width: 5
            stroke-linecap: round
        .impulse
            stroke: rgb(238, 126, 178)
            stroke-width: 5
            stroke-linecap: round
